:root {
  --main-font:Montserrat;
  --main-blue:rgb(0, 0, 90);
  --main-font-color: white;
  --secondary-font-color: rgb(20, 158, 192);
  --secondary-background:rgb(250, 250, 250);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  max-width: 100vw;
  font-family: var(--main-font);
  overflow-x: hidden;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline:2rem;
  padding-block: 1.5rem;
  background-color: var(--main-blue);
}

header i {
   color: var(--main-font-color);
   font-size: 25px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu{
  display: flex;
  list-style:none;
  justify-content: space-between;
  min-width: 40%;

}

.menu li a {
  text-decoration: none;
  color: var(--main-font-color);
  padding-inline: 0.5rem;
}

.section-info {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin-block: 2rem;
  margin-inline: 2rem;
  padding-inline:3rem;
  padding-block: 3rem;
  background-color:var(--secondary-background);
  border-radius: 10px;
  border: 1.5px solid rgb(40, 130, 171);
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-img {
  width: 20%;
}

.profile-img img{
  width:100%;
  object-fit:fill;
  border-radius: 8px;
}

.basic-info {
  max-width: 82%;
}
.basic-info h1, .basic-info h2, .section-cards h1, .form-contact h1, .card h2 {
  margin-top: 1rem;
  color: var(--secondary-font-color);
}

.basic-info h1, .section-cards h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.basic-info p {
  font-size: 1.3rem;
  padding-block: 1rem;
  padding-right: 3rem;
}

.section-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
}

.cards {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  max-width: 40%;
  text-align: center;
  padding: 1.5rem;
}
.card, form{
  padding: 1rem;
  background-color: var(--secondary-background);
  border: 1.5px solid rgb(40, 130, 171);
  border-radius: 10px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2rem;
  transition: 0.5s;
}

.card:hover {
  box-shadow: none;
}

.card img {
  width: 100%;
  border-radius: 10px;
  height: 300px;
  object-fit:contain;
  margin-bottom: 1rem;
 
}
.form-contact {
  
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-inline:4rem;
  align-items: center;

}

form {
  width: 80%; 
  margin-top: 2rem;
  padding-block: 2rem;
  
}

.form-row {
  width: 90%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(64, 173, 224);
    margin-bottom: 2rem;
    
}

.form-row label {
  padding-right: 2rem;
}

input, textarea {
  width: 60%;
  border: 1.5px solid rgb(40, 130, 171);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

textarea {
  height: 6rem;
}

.form-row button {
   background-color: var(--secondary-font-color);
  color: var(--main-font-color);
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 8px;
  font-weight: bold;
   box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   font-size: 1rem;
}

.social {
  background-color: var(--secondary-font-color);
  color: var(--main-font-color);
  text-align: center;
  padding-block: 2rem;
}

.float-btn {
    position: fixed;
    bottom: 108px;
    right: 80px;

}

.float-btn i {
  color: var(--main-blue);
  font-size: 30px;
  }

@media (max-width:768px) {
 
  header {
    background-color: var(--secondary-font-color);
  }

  .section-info {
    flex-direction: column;
    width: 88%;
    margin-right: 2rem;
    justify-content: center;
    text-align: center;
  }

  .section-info p {
    padding: 0;
  }

  .profile-img {
   margin-top: 1rem;
   width: 60%;
}

  .basic-info {
    min-width: 100%;
    margin:0;
  }
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
  }

  .card {
    max-width: 90%;
    margin-left:  0;
    margin-bottom: 2rem;
  }

  .form-contact {
    width: 100%;
    margin-inline: 0;
  }

  .form-row {
    flex-direction: column;
    margin-inline: 0;
    padding-inline: 0;
    justify-content: center;
    padding-left: 1.5rem;
  
  }

  input, textarea {
  width: 100%;
  }
}